<div class="t20-quickbar">
  <div class="t20-info">
    <img class="portrait" src="{{img}}" alt="{{nome}}" />
    <div class="status">
      {{pv}} PV<br>
      {{pm}} PM<br>
      DEF {{def}}
    </div>
  </div>
  <div class="t20-quickbar-inner">
    {{#each buttons}}
      <div class="t20-button" data-tab="{{this.tab}}" title="{{this.label}}">
        <img src="{{this.icon}}" alt="{{this.label}}" />
      </div>
    {{/each}}
  </div>
</div>
