<div class="hud-container">
  <div class="hud-left">
    <img class="hud-img" src="{{img}}" />
    <div class="hud-info">
      <strong>{{name}}</strong><br>
      PV: {{pvAtual}} / {{pvTotal}}<br>
      PM: {{pmAtual}} / {{pmTotal}}<br>
      DEF: {{defesa}}
    </div>
  </div>
  <div class="hud-buttons">
    <button id="btn-pericias"><img src="modules/hud-combate-t20/img/pericias.png" title="Perícias" /></button>
    <button id="btn-poderes"><img src="modules/hud-combate-t20/img/poderes.png" title="Poderes" /></button>
    <button id="btn-magias"><img src="modules/hud-combate-t20/img/magias.png" title="Magias" /></button>
    <button id="btn-inventario"><img src="modules/hud-combate-t20/img/inventario.png" title="Inventário" /></button>
  </div>
</div>
