<div class="t20-quickbar">
  <div class="t20-quickbar-inner">
    <div class="t20-info">
      <img class="t20-avatar" src="{{img}}" alt="{{nome}}" />
      <div class="t20-nome">{{nome}}</div>
      <div class="t20-atributos">
        <div><strong>PV:</strong> {{pv}}</div>
        <div><strong>PM:</strong> {{pm}}</div>
        <div><strong>DEF:</strong> {{def}}</div>
      </div>
    </div>
    <div class="t20-buttons">
      {{#each buttons}}
        <div class="t20-button" data-tab="{{tab}}" title="{{label}}">
          <img src="{{icon}}" alt="{{label}}" />
        </div>
      {{/each}}
    </div>
  </div>
</div>
